<?xml version="1.0"?>
<model>
  <name>lund_lab</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Alfredo Chavez Plascencia</name>
   <email>plascencia@vutbr.fit.cz</email>
  </author>

  <description>
    A model of the Lund laboratory
  </description>
</model>




