<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <env name="GAZEBO_RESOURCE_PATH" value="$GAZEBO_RESOURCE_PATH:$(find r5cop_sim_env)/worlds"/>
    <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find r5cop_sim_env)/models"/>
    <arg name="world_name" value="$(find r5cop_sim_env)/worlds/fit_lab.world"/>
  </include>

</launch>



